C:\Users\Czupek\Documents\GitHub\Mateusz-Adamek.github.io\zadania-domowe\Sass-Gulp-1-project\dane_wejsciowe
C:\Users\Czupek\Documents\GitHub\Mateusz-Adamek.github.io\zadania-domowe\Sass-Gulp-1-project\node_modules
C:\Users\Czupek\Documents\GitHub\Mateusz-Adamek.github.io\zadania-domowe\Sass-Gulp-1-project\package.json
C:\Users\Czupek\Documents\GitHub\Mateusz-Adamek.github.io\zadania-domowe\Sass-Gulp-1-project\package-lock.json
