
*{
    /* margin: 0; */
    /* padding: 0; */

}
body{
    color: white;
    font-size: 20px;

}
.wrapper {
flex-flow: row wrap;
    display: flex;
    text-align: center;

  
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
 

    flex: 1 100%;
  }
  
#head{
background-color: red;


}

#pierwsza{
background-color: aqua;

}

#druga {
    background-color: green;
   

}

#trzecia {
background-color: pink;


}

#foot {
    background-color: purple;
 
 
}

/* .sekcja, .headfoot {
    display: flex;
    flex-direction: column;
   align-items: center;

} */

/* .headfoot {
   
   justify-content: center;
   

} */


/* Medium screens 768 - 992*/
@media all and (min-width: 768px) {
  /* We tell both sidebars to share a row */
 
  #trzecia {flex: 1 0 0;}
  #pierwsza { flex: 3 0px; }
   #druga   { order: 3; } 
   #pierwsza { order: 1; }
   #trzecia { order: 2; }
  #foot { order:4;}

/* Large screens >992 */
@media all and (min-width: 992px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
   #druga {flex: 1 0 0;}
   #pierwsza { flex: 3 0px; }
   #druga   { order: 1; } 
   #pierwsza { order: 2; }
   #trzecia { order: 3; }
  #foot { order:4;}
}