form {
    color: white;
    padding: 20px;
    background-color: #213b50;
    width: 600px

}
/* form input {
    background-color:#2b4a64 
}

input:focus {
    background-color:#4e708c;
    border-color: #ffffff;
    color:#ffffff
  } */

  form select,
  form input[type="email"],
  form input[type="text"],
  form input[type="tel"],
  
  form textarea {background-color: #4e708c}

form select:focus, form input:focus, form textarea:focus {
    background-color:#4e708c;
    border: #ffffff 1px solid;
}
