/* 
Motyw kolorystyczny strony:
Czerwienie i róże:
#B34E49
#F0372D
#FF8882

Zielenie:
#37B366
#82FFB2


Czcionki, opcja ostra/twarda:
<link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">
font-family: 'Rubik Mono One', sans-serif;

i <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
font-family: 'Oswald', sans-serif;


Opcja lekka/bajkowa:
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
font-family: 'Indie Flower', cursive;

<link href="https://fonts.googleapis.com/css?family=Mali&display=swap" rel="stylesheet">
font-family: 'Mali', cursive;
*/

* {


}

.header-primary-mavigation {
background-color: #B34E49;
 
}