/* GENERAL STYLES - START */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: white;
    text-decoration: none;

    /* powyższe komendy usuwają domyslne formatowanie linków */
}









h1,
.kropka {
    color: #007bff;

}


h1 {
    font-size: 48px;
    margin-bottom: 1px;

}

h2,
h3,
.buttons,
p {
    color: #333;


}



.line {
    width: 5%;
    height: 1px;
    background-color: #007bff;
    border: 0px;
    margin-bottom: 2%;
}

.buttons {
font-size: 3vh;
    border: 1px solid #007bff;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    /* Przezroczystość tła - to ostatnie 0 */

}

/* GERERAL STYLES - END */








/* header - START */
header#header div#natle {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* pozycjonowanie tła nagłówka*/
    background-image: url(../img/header.jpg);
    background-position: center center;
    position: relative;
}



/* header - END */

/* nav - START */
#navigation-main div.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    padding-inline-start: 35%;
    padding-inline-end: 35%;
    background-color: #007bff;
    position: relative;

}


/* nav - END */



/* O MNIE - START */

#about-me {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

#article-about {
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    position: relative;

}

section#about-me div#about-me div#buzia {
    /* background-color: black; */
    background-image: url(../img/ja.png);
    background-position: left center;
    background-size: 110%;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}


/* O MNIE - END */




/* PORTFOLIO - START */
section#portfolio {
    background-color: #f2f1ed;
    position: relative;
}


section#portfolio div#portfolio {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 3%;


}

div#obrazki {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    padding-bottom: 5%;



}

section#portfolio div#portfolio img {
    height: 25vh;
    width: 40vh;
    position: relative;
    overflow: hidden;
    display: block;
    /* TRZEBA DODAĆ POWYŻSZE DWIE KOMENDY, ŻEBY NIE CZYTAŁO TEGO JEKO LINE ELEMENT */
}

/* PORTFOLIO - END */





/* contact - START */
div#kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5%;
}


/* FORMULARZ */

#form {

    position: relative;
    display: flex;

    align-items: center;
    flex-wrap: wrap;

}



#Mail,
#Name {
    width: 44%;
    margin: 3%;
    margin-bottom: 1%;
    position: relative;
    padding: 2%;
}

#message {
    width: 100%;
    margin: 3%;
    height: 100px;
    position: relative;
    padding: 2%;
}

/* SOCIAL MEDIA */

.social-link {
    text-decoration: none;
    font-size: 40px;
    color: #007bff;
    margin: 10%;
    padding-top: 25%;
}

#socialmedia {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

/* contact - END */




#footer {
    background-color: #f2f1ed;
    height: 100%;
    width: 100%;
    position: relative;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    padding: 1%;


}


