/* GENERAL STYLES - START */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    /* color: white; */
    text-decoration: none;
    /* powyższe komendy usuwają domyslne formatowanie linków */
}









h1,
.kropka {
    color: #007bff;

}

h1 {
    font-size: 48px;
    margin-bottom: 1px;
   
}

h2,
h3,
.buttons,
p {
    color: #333;
   
   
}



.line {
    width: 5%;
    height: 1px;
    background-color: #007bff;
    border: 0px;
    margin-bottom: 2%;
}

.buttons {

    border: 1px solid #007bff;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    /* Przezroczystość tła - to ostatnie 0 */

}

/* GERERAL STYLES - END */








/* header - START */
header#header div#natle {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* pozycjonowanie tła nagłówka*/
    background-image: url(../img/header.jpg);
    background-position: center center;
    position: relative;
}



/* header - END */

/* nav - START */
#navigation-main div.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    padding-inline-start: 35%;
    padding-inline-end: 35%;
    background-color: #007bff;
    position: relative;

}


/* nav - END */



/* O MNIE - START */

#about-me {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

#article-about {
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    position: relative;

}

section#about-me div#about-me div#buzia {
    /* background-color: black; */
    background-image: url(../img/ja.png);
    background-position: left center;
    background-size: 110%;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}


/* O MNIE - END */




/* PORTFOLIO - START */
section#portfolio {
    background-color: #f2f1ed;
    position: relative;
}


section#portfolio div#portfolio {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;


}

section#portfolio div#portfolio img {
    height: 30vh;
    width: 50vh;
    position: relative;


}

/* PORTFOLIO - END */