@charset "UTF-8";
/* 
Motyw kolorystyczny strony:
Czerwienie i róże:
#B34E49
#F0372D
#FF8882

Zielenie:
#37B366
#82FFB2


Czcionki, opcja ostra/twarda:
<link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">
font-family: 'Rubik Mono One', sans-serif;

i <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
font-family: 'Oswald', sans-serif;


Opcja lekka/bajkowa:
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
font-family: 'Indie Flower', cursive;

<link href="https://fonts.googleapis.com/css?family=Mali&display=swap" rel="stylesheet">
font-family: 'Mali', cursive;
*/
* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  list-style-type: none; }

html {
  scroll-behavior: smooth; }

.header-primary {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFECD6;
  padding-top: 25px;
  padding-bottom: 30px; }

.navgroup {
  font-size: 20px;
  color: #FFECD6;
  display: block; }

.menu-mobile {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 20px; }
  .menu-mobile.active div:nth-child(1) {
    top: 16px;
    transform: rotateZ(45deg); }
  .menu-mobile.active div:nth-child(2) {
    display: none; }
  .menu-mobile.active div:nth-child(3) {
    top: 16px;
    transform: rotateZ(-45deg); }
  .menu-mobile div {
    position: absolute;
    border-radius: 5px;
    width: 75%;
    height: 7px;
    background-color: #FFECD6;
    margin: 15px;
    transition: all .1s linear; }
    .menu-mobile div:nth-child(1) {
      top: 0; }
    .menu-mobile div:nth-child(2) {
      top: 18px; }
    .menu-mobile div:nth-child(3) {
      top: 36px; }

h1 {
  font-size: 50px; }

#front-end {
  font-size: 30px; }

h2 {
  margin-top: 20px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  margin-bottom: 20px; }

#avatar {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-bottom: 5%;
  margin-top: 5%;
  background-image: url(../img/ja.png);
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#article-about {
  text-align: left; }

#footer {
  background-color: #FF8882;
  margin: 0;
  padding: 1vh;
  color: #FFECD6; }

.examples {
  padding-bottom: 20px;
  padding-top: 20px;
  color: #FFECD6;
  text-align: center;
  border: solid 1px #FFECD6;
  border-radius: 5px;
  background-color: #FF8882;
  display: block; }

a:link {
  text-decoration: none; }

input,
textarea,
#social-media.social-link,
.buttons {
  margin-bottom: 4%;
  resize: none; }

.social-link {
  font-size: 36px;
  color: #FFECD6; }

.buttons {
  background-color: #FF8882;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  color: #FFECD6;
  border: 0 solid;
  text-decoration: unset; }

#submit-message:hover,
.buttons:hover,
.examples:hover {
  background-color: #FFECD6;
  color: #FF8882; }

.techno-icon {
  height: 100px;
  width: 100px;
  padding: 20px;
  background-color: beige;
  border-radius: 50%;
  color: #FF8882;
  font-size: 60px; }

li {
  text-decoration: none;
  opacity: 1;
  transform: scale(1, 1);
  transition-timing-function: ease-out;
  transition-duration: 250ms; }

li:hover {
  opacity: .7;
  transform: scale(1.07, 1.09);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  position: relative;
  z-index: 99; }

.fallingPixels span {
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0;
  margin: 0px 70px 54px 30px;
  -webkit-animation: fallingPixels 10s infinite linear;
  -moz-animation: fallingPixels 10s infinite linear; }

.fallingPixels span:nth-child(2) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s; }

.fallingPixels span:nth-child(1) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s; }

.fallingPixels span:nth-child(3) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s; }

@-webkit-keyframes fallingPixels {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px) rotateZ(0deg); }
  75% {
    opacity: 1;
    -webkit-transform: translate(100px, 600px) rotateZ(270deg); }
  100% {
    opacity: 0;
    -webkit-transform: translate(150px, 800px) rotateZ(360deg); } }

@media (max-width: 992px) {
  .header-primary {
    background-image: unset;
    background-color: #FF8882; } }
