* {
    margin: 0;
    padding: 0;

}

body {
    color: white;
    font-size: 20px;

}

.wrapper {
    flex-flow: row wrap;
    display: flex;
    text-align: center;

    /* height: 100vh; */

}

/* We tell all items to be 100% width, via flex-basis */
.wrapper>* {


    flex: 1 100%;
}

#head {
    background-color: red;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pierwsza {
    background-color: aqua;
    height: 30vh;
}

#druga {
    background-color: green;
    height: 30vh;

}

#trzecia {
    background-color: pink;
    height: 30vh;

}

#foot {
    background-color: purple;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Medium screens 768 - 992*/
@media all and (min-width: 768px) {
    
/* We tell both sidebars to share a row */
    #trzecia {
        flex: 1 0 0;
    }


    #pierwsza {
        flex: 3 0px;
        height: 45vh;
    }

    #druga {
        order: 3;
        height: 45vh;
    }

    #pierwsza {
        order: 1;
    }

    #trzecia {
        order: 2;
        height: 45vh;
    }

    #foot {
        order: 4;
    }
}

/* Large screens >992 */
@media all and (min-width: 992px) {

    /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
    #druga {
        flex: 1 0 0;
    }

    #pierwsza {
        flex: 3 0px;
    }

    #druga {
        order: 1;
    }

    #pierwsza {
        order: 2;
    }

    #trzecia {
        order: 3;
    }

    #foot {
        order: 4;
    }
}